<!DOCTYPE html>
<html>
<head>
    <title>Diabetes Predictor for Women</title>
    <meta charset="utf8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static/style.css" />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/5f59ca6ad3.js"
      crossorigin="anonymous"
    ></script>
</head>
<body>
    <header>
        <nav>
            <h2 class="logo">Diabetes Predictor for Women</h2>
            <div class="header d-flex flex-row justify-content-center" id="home">
                <div class="d-flex flex-row justify-content-end">
                    <ul class="ml-auto">
                        <li><a href="#awareness">Diabetes Awareness</a></li>
                        <li><a href="#predict">Predict Diabetes</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="home-section-container">
        <div class="main-container d-flex justify-content-center flex-column">
            <div class="text-center">
                <div class="d-flex flex-row justify-content-center m-5">
                    <a class="button-sty" href="#predict_diabetes">
                        Predict Diabetes Disease
                    </a>
                </div>
                <div class="d-flex flex-row justify-content-center m-5">
                    <a class="button-sty" href="#awareness">
                        Women Diabetes Awareness
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="about-us-section-container p-5" id="awareness">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6">
                    <img src="static/db4.png" alt="Diabetes Awareness Image" class="img-fluid rounded-img">
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="card shadow p-5 mb-5 pink-card" style="min-height: 600px;"> <!-- Adjusted padding and minimum height -->
                        <h1 class="text-center">Our Mission</h1>
                        <p class="about-content">
                            Diabetes, a condition where the body struggles with insulin production or usage, presents unique challenges for women. Hormonal changes, especially during pregnancy, can lead to gestational diabetes, which might evolve into type 2 diabetes. Additionally, conditions like PCOS increase diabetes risk. Fluctuations during menstrual cycles can also complicate diabetes management. Early detection is vital, so symptoms like frequent urination and constant fatigue shouldn't be overlooked. Fortunately, with a balanced diet and regular check-ups, diabetes is manageable. Awareness and proactive care are key, ensuring a healthier future for women and their families. Knowledge remains our best defense against this condition.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    
    <div class="container" id="predict_diabetes">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
                <form action="/#predict_diabetes" method="post">
                    <div class="inp-sty mb-3">
                        <label for="Pregnancies" class="label-sty">Enter No.of Pregnancies</label>
                        <input
                            id="Pregnancies"
                            type="number"
                            name="Pregnancies"
                            placeholder="Pregnancies"
                            required="required"
                        />
                    </div>
                    <div class="inp-sty mb-3">
                        <label for="Glucose" class="label-sty">Enter Glucose</label>
                        <input id="Glucose" type="float" name="Glucose" placeholder="Glucose" required="required" />
                    </div>
                    <div class="inp-sty  mb-3">
                        <label for="BloodPressure" class="label-sty">Enter BloodPressure</label>
                        <input id="BloodPressure" type="float" name="BloodPressure" placeholder="BloodPressure" required="required" />
                    </div>
                    <div class="inp-sty  mb-3">
                        <label for="SkinThickness" class="label-sty">SkinThickness</label>
                        <input
                            id="SkinThickness"
                            type="float"
                            name="SkinThickness"
                            placeholder="SkinThickness"
                            required="required"
                        />
                    </div>
                    <div class="inp-sty  mb-3">
                        <label for="Insulin" class="label-sty">Enter Insulin</label>
                        <input
                            id="Insulin"
                            type="float"
                            name="Insulin"
                            placeholder="Insulin"
                            required="required"
                        />
                    </div>
                    <div class="inp-sty  mb-3">
                        <label for="BMI" class="label-sty">Enter BMI</label>
                        <input
                            id="BMI"
                            type="float"
                            name="BMI"
                            placeholder="BMI"
                            required="required"
                        />
                    </div>
                    <div class="inp-sty  mb-3">
                        <label for="DiabetesPedigreeFunction" class="label-sty">Enter DiabetesPedigreeFunction</label>
                        <input
                            type="float"
                            id="DiabetesPedigreeFunction"
                            name="DiabetesPedigreeFunction"
                            placeholder="DiabetesPedigreeFunction"
                            required="required"
                        />
                    </div>
                    <div class="inp-sty  mb-3">
                        <label for="Age" class="label-sty">Enter Age</label>
                        <input
                            type="number"
                            id="Age"
                            name="Age"
                            placeholder="Age"
                            required="required"
                        />
                    </div>
                    <div class="text-center">
                        <button type="submit" class="button-predict">Predict</button>
                    </div>
                </form>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <div class="card shadow p-5 mb-5 pink-card" style="min-height: 600px;"> <!-- Adjusted padding and minimum height -->
                    <h2 class="result-text text-center">Diagnosed with Diabetes: <strong>{{prediction_text}}</strong> </h2>
                    <p class="about-content">
                        {{output}}
                    </p>
                </div>
            </div>
                
                
        

        </div>
    </div>
</div>
    <script src="static/script.js"></script>
</body>
</html>
